html, body {
    padding: 0;
    margin: 0 5%;
    font-family: 'Roboto', sans-serif;
}

header {
    grid-area: h;
    place-self: center;
    color: #f0f8ff;
}

aside {
    grid-area: m;
    padding: 10%;
    margin: 0;
    background-color: #b8cece;
}

main {
    grid-area: c;
    background-color: #deeaf5;
    padding: 1%;
}

footer {
    grid-area: f;
    place-self: center;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
        'h h'
        'm c'
        'f f';
    background-color: #1e365a;
    height: 100vh;
}

.contenedor-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contenedor-menu h3{
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 10%;
    margin-top: 0;
}

li {
    list-style: none;
    line-height: 2;
    font-weight: bolder;
}

span {
    color: #767879;
    font-style: oblique;
    font-size: small;
}

.contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
}

.tarjeta {
    min-height: 100%;
    background: #ffffff;
    box-shadow: 0 2px 5px #a5a3a3;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

section {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1; /*para aprovechar todo el espacio disponible*/
    justify-content:space-between;
    align-items: center;
}

section h3, section p{
    margin: 0;
}

/* Se comenta para utilizar otra técnica
.imagen{
    width: 100%;
} 
*/

/*Utilicé esta técnica de imagen de fondo, para practicar y conocer su funcionamiento.
  Me parece que trabaja de mejor manera la resolución de la imagen al darle tamaño*/
.fondo {
    padding-top: 60%; /*Este es el tamaño definido para el espacio que ocupará la imagen dentro de la tarjeta.
                        Sinceramente, no le encuentro explicación lógica aún, pero funciona ya que estira el contenedor! */

  /*height: 60%; no muestra la imagen completa, ya que no estira el contenedor!*/

    background-color: #c7c7c7; /*se muestra si no hay imagen de fondo*/
    background-size: cover; 
    background-position: center center; /*centrando horizontal y verticalmente*/
}

.uno {
    background-image: url("../imgs/Montana.jpg");
}

.dos {
    background-image: url("../imgs/bmx.jpg");
}

.tres {
    background-image: url("../imgs/repuestos.jpg");
}

.cuatro {
    background-image: url("../imgs/accesorios2.jpg");
}

.cinco {
    background-image: url("../imgs/herramientas.jpg");
}

button {
    width: 100%;
    padding: 1em;
    background-color: #1e365a;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

button:hover {
    background-color: #639aec;
    color: #000000;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #f0f8ff;
}